body {
	background-image:  url("images/background.jpg");
	background-size: cover;
	color: rgb(66, 85, 86);
	font-family: 'Montserrat', sans-serif;
	text-align: right;
}
h1 {
	font-size: 70px;
	padding: 150px 110px 0px 0px;
	text-shadow: 2px 2px 2px lightgray;
	margin-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
}
p{
	font-family: 'Benne', serif;
	font-size: 25px;
	opacity: 0.8;
	padding: 0px 110px 0px 0px;
}
.paragrafo{
	font-family: 'Benne', serif;
	text-align: right;
	margin-bottom: 40px;
}
.contacto{
	text-decoration: none;
	color: white;
	padding: 10px 15px 10px 15px;
	background-color: rgb(66, 85, 86);
	border-radius: 4px;
	font-size: 15px;
	margin-right: 110px;
}
.contacto:hover{
	background-color: rgb(66, 85, 86,0.8);
	font-weight: bold;
}
.lista{
	list-style: none;
	padding-left: 0px;
	margin-top: 290px;
}
.lista li{
	display: inline;
}
.lista a{
	color: gray;
	text-decoration: none;
	padding: 10px;
	font-size: 30px;
}
.lista a:hover{
	opacity: 0.7;
}